#divPassagens{
	margin: 20px;
	width: 600px;
}

#divData input[type=text]{
	width: 290px;
	float: left;
	
}

#dataVolta{
	margin-left: 20px;
}

#divQtdPassagens select{
	width: 195px;
	float: left;
}

#qtdCriancas{
	margin-left: 7px;
}

#qtdBebes{
	margin-left: 8px;
}

.marginTop{
	margin-top: 10px;
}


#btnPesquisar{
	width: 600px;
	font-size: 19px;
	margin-top: 5px;
	font-weight: bold;
}

#btnPesquisar span{
	top: -2px;
}

legend{
	display: block;
	width: 100%;
	padding: 0;
	/* margin-bottom: 20px; */
	font-size: 21px;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}